.img-responsive {
  width: 50px;
  height: 24px;
  left: 48px;
  top: 2px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  flex-grow: 0;
}

.btn {
  width: 230px;
  height: 55px;
  left: 155px;
  top: 577px;
  background: #1d9bf0;
  border-radius: 27.5px;
}

.userFoto {
  width: 50px;
  height: 50px;
  left: 170px;
  top: 892px;
}

.user-name {
  width: 45px;
  height: 21px;
  left: 230px;
  top: 895px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.username {
  width: 134px;
  height: 21px;
  left: 230px;
  top: 918px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.onActive:active {
  width: 56px;
  height: 24px;
  left: 48px;
  top: 2px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 20px;
}

.profile-info {
  margin-top: 200px;
}
