.img-responsive {
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;
  margin: 0px 20px;
  font-size: 18px;
  line-height: 24px;
}

.onActive:hover {
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0px 20px;
}

.btn {
  width: 230px;
  height: 55px;
  left: 155px;
  top: 577px;
  background: #1d9bf0;
  border-radius: 27.5px;
}

.userFoto {
  width: 50px;
  height: 50px;
  left: 170px;
  top: 892px;
}

.users-name {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.users-name::after {
  content: "";
  display: inline-block;
  background-image: url("../../../images/threeDots.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 5px;
  background-position: center;
  margin-left: 52%;
}

.username {
  width: 134px;
  height: 21px;
  left: 230px;
  top: 918px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.profile-info {
  margin-top: 300px;
}
